.navbar {
  display: flex;
  align-items: center; /* Alinear verticalmente al centro */
  justify-content: space-between; /* Distribuir elementos en el espacio restante */
  padding: 20px; /* Añadir espaciado si es necesario */
}

.Categories {
  display: flex; /* Aplicar flexbox a los botones del menú */
  gap: 30px; /* Espacio entre los botones */
  background-color: transparent;
}

.Option {
  list-style-type: none;
 
  /*
  display: inline-block;
   
  
  border: 0;
  cursor: pointer;  
  font-weight: 600;
  padding: 1rem;
  font-size: 3rem;
  margin-left: 2.5rem; */
}

.ActiveOption {
  background-color: black;
  color: white;

}

/*******IMAGEN****/


.logo {
  padding-top: 1rem;
  width: 100%; /* Cambiar el valor para ajustar el tamaño deseado */
  max-width: 200px; /* Agregar un máximo para evitar que el logo se agrande demasiado */
  height: auto; /* Mantener la proporción del logo */
  margin-left: 6rem;  
}