div {
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
  }

  div {
    list-style-type: none;
    display: inline-block;
  }

  div {
    display: inline;
    margin: 0 10px;
  }

  .boton-menu {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: 0.85rem;
  }

  .boton-menu.active {
    background-color: black;
    color: white;
  }